<% include ../template/header %>
<% include ../template/nav %>
<div id="wrapper">
  <% include ../template/sidebar %>
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/home">Home</a>
        </li>
        <li class="breadcrumb-item active">Upload File</li>
      </ol>

      <!-- Page Content -->
      <h1>Add Upload File</h1>
      <div class="card-body">
          <% if(errors){ %>
              <ul>
              <% for(var i = 0; i < errors.length; i++){ %>
                  <li> <%= errors[i].msg %> </li>
              <% } %>
              </ul>
          <% } %>
        <form action='<%= baseURL %>upload_file/add' method="post" encType="multipart/form-data">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-label-group">
                  <input type="file" id="file_name" name="file_name" class="form-control" />
                  <label for="file_name">Upload File</label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" >Submit</button>
        </form>
      </div>

    </div>

  </div>
</div>
<% include ../template/footer %>