<% include ../template/header %>
<% include ../template/nav %>
<div id="wrapper">
  <% include ../template/sidebar %>
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/home">Home</a>
        </li>
        <li class="breadcrumb-item active">Upload File</li>
      </ol>

      <!-- Page Content -->
      <h1>Upload File Page</h1>
      <hr>
      <p>This is a great starting point for new custom pages.</p>

    </div>

    <% include ../template/footer %>
  </div>
</div>