<nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand" style="color:#fff"><%= pageTitle%></span>
    <a class="btn btn-primary btn-lg" href="/home">Category</a>
    |
    <a class="btn btn-primary btn-lg" href="">User</a>
    |
    <a class="btn btn-primary btn-lg" href="/fileupload">File Upload</a>
    |
    <a class="btn btn-primary btn-lg" href="">Change Password</a>
    |
    <a class="btn btn-primary btn-lg" href="">Profile</a>
    |
    <a class="btn btn-primary btn-lg" href="/logout">Logout</a>
</nav>